.detail-container {
  border : 1px solid magenta;
  width :200px;
  padding: 5px;
}
header {
  display : flex;
  flex-direction: column;
  align-items:center;
}
header figure {
 display : flex;
  flex-direction: column;
  align-items:center;
}
header img {
  height :100px;
  width:100px;
  border : 1px solid orangered;
  border-radius: 50%
}
header figcaption {
  font-weight: 600;
  font-family:  Helvetica
}

.sub-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav {
  display: flex;
  justify-content: space-around;
  
}
button {
  width :90px;
  height:30px;
  background: dodgerblue;
  border-radius: 15px;
  border: 1px solid dodgerblue;
}
section {
  display: flex;
  padding-top:5px;
}

.content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  padding-top: 5px;
}
.icon {
  padding: 2px;
  margin-right:3px;
}
.up {
  transform: rotate(180deg);
 
}

